/* A COMPLETER */
.detournee{
  text-decoration: underline;
}

.contandante{
  font-weight: bold;
}

article h1, article h2, article h3{
  color: red;
}

aside ul > li > ul{
  list-style-type: none
}

#armes > ul > li{
  color: green;
}

#armes > ul > li ul{
  color: blue;
}

section img{
  height: 1em;
}

aside img{
  width: 20vw;
}